$color-fondo: linear-gradient(to right, #66ff7f, #a8cc33);
$color-letra: white;
$color-hover: rgba(255, 255, 255, 0.66);
$color-link: white;
$color-link-hover: red;
$background-color-link-hover:rgba(255, 255, 255, 0.66);

// Colores tipos pokemon

$color-acero:#60a1b7;
$color-agua:#2980f2;
$color-bicho:#91a219;
$color-dragon:#5160de;
$color-electrico:#fabe01;
$color-fantasma:#6d3e6f;
$color-fuego:#e62828;
$color-hada:#ef6fee;
$color-hielo:#3ddafe;
$color-lucha:#fd8002;
$color-normal:#9fa19e;
$color-planta:#3fa12a;
$color-psiquico:#f13f79;
$color-roca:#aea981;
$color-siniestro:#51413f;
$color-tierra:#915121;
$color-veneno:#9241cc;
$color-volador:#82b8ed;