
@import './variables';


.pokemon{
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: center;
}
.pokemon-displayer{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "titulo titulo pokNumber"
    "imagen imagen ability"
    "types types info";
    width: 70%;
    margin: 20px;

    &__title{
        grid-area: titulo;
        color: white;
        width: 100%;
        display: flex;
        font-size: 400%;
        text-align: center;
    }

    &__number{
        grid-area: pokNumber;
        display: flex;
        flex-direction: row-reverse;
    }

    &__img-container{
        grid-area: imagen;
        display: flex;
        justify-content: space-around;
        width: 100%;
        img{
            width: 50%;
        }
    }

    &__types{
        grid-area: types;
    }

    &__abilities{
        grid-area: ability;
    }

    &__more-Info{
        grid-area: info;
        display: flex;
        justify-content: center;
    }

}

